body,html{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container-fluid{
    padding: 0;
}

/*header*/

.navbar{
    background-color: black;
}

.navbar-toggler{
    color: rgb(245, 245, 245);
    font-size: 1,2rem;
}

.navbar-brand{
    color:white;
}

.nav-link{
    color: white;
}

.nav-item .active{
    color: rgb(255, 200, 7);
}

.navbar-brand:hover{
    text-decoration: none;
    color: rgb(172, 149, 149);
}

.nav-link:hover{
    color: rgb(255, 193, 7);
    text-decoration: none;
}

/*bannière*/
    /*précisez sources*/
.banner{
    width: 100%;
    max-width: 100%;
}

.ban{
    width: 100%;
    max-width: 100%;
    position: relative;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 3800px;
}

.ban img{
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
}

.inner-banner{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}

.inner-banner h1{
    color:rgba(255, 193, 7,0.8);
    text-shadow: 1px 1px 20px black;
    font-size: 2.5rem;
    margin: 20px;
}

.inner-banner p{
    color:aliceblue;
    font-size: 1.2rem;
    text-shadow: 1px 1px 20px black;
    border: 2px solid whitesmoke;
    padding: 8px;
    display: inline-block;
    margin: 20px;
}

.inner-banner div {
    margin: 20px;
}

.inner-banner .btn a{
    transition: all 0.1s;
    border: 0px;
    color: black;
}

.inner-banner .btn:hover{
    transition: all 0.1s;
    transition-timing-function: ease;
    background-color:rgba(255, 185, 7,1);
    text-decoration: none;
}

.inner-banner .btn a:hover{
    text-decoration: none;
}

/*breadcrumb*/

.breadcrumb{
    background-color: black;
    border-radius: 0;
    padding: 3px;
}

.breadcrumb-item a{
    color: white;
    text-decoration: none;
}


.breadcrumb-item a:hover{
    color: rgba(255, 193, 7,0.8);
    text-decoration: none;
}

/*événement*/
    /*card*/
    .row{
        padding:0px;
        margin: 0px;
    }

    .card-title{
        font-weight: bold;
    }

    .card{
        margin: 2rem;
        padding: 0;
        word-wrap: break-word;
        line-break: auto;
    }

    .card-img-top{
        height: 50%;
        width: 100%;
    }

/*Modal*/
.modal-footer button a{
    text-decoration: none;
    color: black;
}

.modal-footer button a:hover{
    text-decoration: none;
    color: black
}

/*Evenements valide*/
.valid{
    text-align: center;
    background-color: blac;
}

.valid h1{
    text-align: center;
    color:rgba(255, 193, 7,0.8);
    padding: 3%;
}

.valid h3{
    text-align: center;
    color:black;
    padding: 3%;
}

/*Carousel*/
.carousel-caption{
    text-shadow: 1.3px 1.3px 20px black;
    font-weight: bold;
    position: absolute;
    top: 10%;
}

/*Contact*/
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.form-group .btn a{
    text-decoration: none;
    color: black;
}

/*media queries*/
@media screen and (min-width:992px) {  
    .inner-banner h1{
        color:rgba(255, 193, 7,0.8);
        text-shadow: 1px 1px 20px black;
        font-size: 3.5rem;
        margin: 20px;
    }
    
    .inner-banner p{
        color:aliceblue;
        font-size: 2.5rem;
        text-shadow: 1px 1px 20px black;
        border: 4px solid whitesmoke;
        padding: 8px;
        display: inline-block;
        margin: 20px;
    }
    
    .inner-banner div button{
        font-size: 2rem;
        margin: 20px;
    }

    .navbar-collapse{
        padding: 5px;
        margin-right: 20px;
        font-size: 1.2rem;
    }

    .nav-item{
        padding: 5px;
    }
    
    .navbar-brand{
        font-size: 1.5rem;
    }

    .carousel-caption{
        position: absolute;
        top: 85%;
    }
    .place{
        width: 100%;
        object-fit: cover;
        object-position: 50% 70%;
    }
}